html,
body {
     font-size: 110%;
     margin: 0;
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
}

body {
     background-color: var(--bodyBackground);
     color: var(--blackText);
     z-index: 10;
}

.cs-header {
     position: fixed;
     left: 0;
     height: 2rem;
     width: 100%;
     background-color: var(--bannerBackground);
     color: var(--whiteText);
     line-height: 2rem;
     user-select: none;
     overflow: hidden;
     z-index: 999;
}
.cs-title {
     top: 0;
     padding-left: .8em;
     font-size: 1.3rem;
     z-index: 2;
}
.cs-banner {
     top: 2rem;
     text-align: center;
     border-bottom: 5px solid dimgray;
}
.cs-menu {
     display: flex;
     position: absolute;
     left: 0;
     width: 100%;
     z-index: 1;
}
.cs-menu1 {
     position: absolute;
     left: 50%;
     transform: translate(-50%);
     width: max-content;
}
.cs-menuBtn {
     text-decoration: none;
     border: none;
     outline: none;
     font-size: 1.1rem;
     background-color: var(--bannerBackground);
     color: var(--whiteText);
     padding: .3em;
     cursor: pointer;
}
.cs-menuBtns {
     padding-right: 2em;
}
.cs-pageContainer { width: 100%; z-index: 10; }
.cs-mainPage {
     border-radius: 6px;
     width: 70%;
     margin: auto;
     background-color: var(--mainBackground);
     color: var(--blackText);
     overflow: hidden;
}
.cs-headline,
.cs-bottomLine {
     height: 1.5rem;
     width: 100%;
     color: var(--whiteText);
     background-color: var(--headlineBackground);
     padding: .3em;
     font-size: 1.35rem;
}
.cs-headline {
     line-height: 1.5rem;
     text-align: center;
     color: var(--headlineColor)
}
.cs-bottomLine {
     display: flex;
     align-items: center;
     font-size: 1.2rem;
     user-select: none;
     justify-content: space-evenly;
}
.cs-page {
     text-align: justify;
     margin: auto;
     margin-top: 2.5em;
     width: 80%;
}
.cs-bottomTitleLine { width: max-content; }
.cs-bottom {
     bottom: 0;
     left: 0;
     height: max-content;
     width: 100%;
     padding-bottom: 2em;
     background: linear-gradient(180deg, var(--gradientLight) 0%, var(--gradientDark) 100%);
     z-index: 5;
}
.cs-hrCopyright { width: 98%; margin: auto; }
.cs-GodLovesYou {
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     bottom: 0;
     font-size: .8rem;
     color: var(--whiteText);
     text-align: center;
}
.cs-copyright,
.cs-copyright:visited { color: var(--whiteText); }
.cs-copyright:hover { color: var(--paleMaroonEmphasis); }
.cs-copySign { font-size: .75em; }
.cs-edited { font-size: .4em; color: #545353; }
.cs-singleVerse { margin-top: -.5em; z-index: 100; }
.cs-verseNumber {
     margin-right: .5em;
     color: var(--verseNumber);
     font-size: .9rem;
     font-weight: 550;
     z-index: 100;
}